<div class="d-flex flex-row justify-content-center align-item-center">
  <div class="card shadow-sm" style="width: 600px">
    <div class="card-header">
      <ng-content select="[title]"></ng-content>
    </div>
    <div class="card-body">
      <div class="d-flex flex-column justify-content-start align-items-center">
        <form
          [formGroup]="form"
          style="width: 100%"
          (ngSubmit)="profile_submit()"
        >
          <div class="d-flex flex-row align-items-bottom">
            <label for="name" class="col-form-label flex-grow-1"
              >Name:
              <input
                type="text"
                id="name"
                class="form-control"
                formControlName="name"
                [value]="user?.name"
            /></label>
          </div>
          <div class="d-flex flex-row align-items-bottom">
            <label for="email" class="col-form-label flex-grow-1"
              >Email:
              <input
                type="text"
                id="email"
                class="form-control"
                formControlName="email"
                [value]="user?.email"
            /></label>
          </div>
          <div class="d-flex flex-row align-items-bottom">
            <label for="language_id" class="col-form-label flex-grow-1"
              >Language:
              <input
                type="text"
                id="language_id"
                class="form-control"
                formControlName="language_id"
                [value]="user?.language_id"
            /></label>
          </div>
          <div class="d-flex flex-row align-items-bottom">
            <label for="location_id" class="col-form-label flex-grow-1"
              >Location:
              <input
                type="text"
                id="location_id"
                class="form-control"
                formControlName="location_id"
                [value]="user?.location_id"
            /></label>
          </div>
          <div class="d-flex flex-row align-items-bottom">
            <label for="position" class="col-form-label flex-grow-1"
              >Position:
              <input
                type="text"
                id="position"
                class="form-control"
                formControlName="pos_1"
                [value]="user?.pos_1"
              />
              <input
                type="text"
                id="position"
                class="form-control"
                formControlName="pos_2"
                [value]="user?.pos_2"
              />
            </label>
          </div>
          <div class="d-flex flex-row align-items-bottom">
            <label for="rank_id" class="col-form-label flex-grow-1"
              >Rank:
              <input
                type="text"
                id="rank_id"
                class="form-control"
                formControlName="rank_id"
                [value]="user?.rank_id"
              />
            </label>
          </div>
          <div
            class="d-flex flex-row align-items-bottom justify-content-center"
          >
            <ng-content select="[submit]"></ng-content>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
