<div class="d-flex flex-row justify-content-center align-item-center">
  <div class="card shadow-sm" style="width: 600px">
    <div class="card-header">
      <ng-content select="[title]"></ng-content>
    </div>
    <div class="card-body">
      <div class="d-flex flex-column justify-content-start align-items-center">
        <form [formGroup]="form" style="width: 100%">
          <div class="d-flex flex-row align-items-bottom">
            <label for="name" class="col-form-label flex-grow-1"
              >Name:
              <input
                type="text"
                id="name"
                class="form-control"
                formControlName="name"
            /></label>
          </div>
          <div class="d-flex flex-row align-items-bottom">
            <label for="email" class="col-form-label flex-grow-1"
              >Email:
              <input
                type="text"
                id="email"
                class="form-control"
                formControlName="email"
            /></label>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div>Name: {{ user.name }}</div>
<div>Email: {{ user.email }}</div>
