<div class="d-flex flex-row justify-content-center align-item-center">
  <div class="card shadow-sm" style="width: 600px">
    <div class="card-header">
      <ng-content select="[title]"></ng-content>
    </div>
    <div class="card-body">
      <div class="d-flex flex-column justify-content-start align-items-center">
        <form
          [formGroup]="form"
          style="width: 100%"
          (ngSubmit)="profile_submit()"
        >
          <div class="d-flex flex-row align-items-bottom">
            <label for="name" class="col-form-label flex-grow-1"
              >Name:
              <input
                type="text"
                id="name"
                class="form-control"
                formControlName="name"
                [value]="user?.name"
            /></label>
          </div>
          <div class="d-flex flex-row align-items-bottom">
            <label for="email" class="col-form-label flex-grow-1"
              >Email:
              <input
                type="text"
                id="email"
                class="form-control"
                formControlName="email"
                [value]="user?.email"
            /></label>
          </div>
          <div class="d-flex flex-row align-items-bottom">
            <label for="language" class="col-form-label flex-grow-1"
              >Language:
              <select
                id="language"
                class="form-control"
                formControlName="language"
              >
                <option value="English">English</option>
                <option value="Spanish">Español</option>
              </select>
            </label>
          </div>
          <div class="d-flex flex-row align-items-bottom">
            <label for="location" class="col-form-label flex-grow-1"
              >Location:
              <select
                id="location"
                class="form-control"
                formControlName="location"
              >
                <option value="Las Cruces">Las Cruces</option>
                <option value="El Paso">El Paso</option>
              </select>
            </label>
          </div>
          <div class="d-flex flex-row align-items-bottom">
            <label for="position" class="col-form-label flex-grow-1"
              >Position:
              <select
                id="position"
                class="form-control"
                formControlName="pos_1"
              >
                <option value="Tank">Tank</option>
                <option value="Bruiser">Bruiser</option>
                <option value="Jungler">Jungler</option>
                <option value="APC">APC</option>
                <option value="ADC">ADC</option>
                <option value="Support">Support</option>
              </select>
              <select
                id="position"
                class="form-control"
                formControlName="pos_2"
              >
                <option value="Tank">Tank</option>
                <option value="Bruiser">Bruiser</option>
                <option value="Jungler">Jungler</option>
                <option value="APC">APC</option>
                <option value="ADC">ADC</option>
                <option value="Support">Support</option>
              </select>
            </label>
          </div>
          <div class="d-flex flex-row align-items-bottom">
            <label for="rank" class="col-form-label flex-grow-1"
              >Rank:
              <select id="rank" class="form-control" formControlName="rank">
                <option value="Iron">Iron</option>
                <option value="Bronze">Bronze</option>
                <option value="Silver">Silver</option>
                <option value="Gold">Gold</option>
                <option value="Platinum">Platinum</option>
                <option value="Diamond">Diamond</option>
                <option value="Master">Master</option>
                <option value="Grandmaster">Grandmaster</option>
                <option value="Challenger">Challenger</option>
              </select>
            </label>
          </div>
          <div
            class="d-flex flex-row align-items-bottom justify-content-center"
          >
            <ng-content select="[submit]"></ng-content>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
