<div class="d-flex flex-column align-items-center" style="margin-top: 10vh">
  <div class="d-flex flex-row align-items-center">
    <div id="swiper" *ngIf="toMatch1">
      <!-- <div *ngFor="let user_id of users.slice().reverse(); let i = index">
        <app-profile-card
          [user_id]="user_id"
          [index]="i"
          [max]="max"
          (newMatch)="submitNewMatch($event)"
        ></app-profile-card>
      </div> -->
      <div class="card">
        <img
          draggable="false"
          src="https://source.unsplash.com/random/1000x1000/?game"
          alt=""
        />
        <div class="content">
          <h1>{{ toMatch2.name | titlecase }}</h1>
          <p>League of Legends nn</p>
        </div>
      </div>
      <div
        id="first"
        class="card"
        (mousedown)="handleMouseDown($event)"
        (mousemove)="handleMouseMove($event)"
        (mouseup)="handleMouseUp($event)"
      >
        <img
          draggable="false"
          src="https://source.unsplash.com/random/1000x1000/?gamer"
          alt=""
        />
        <div class="content">
          <h1>{{ toMatch1.name | titlecase }}</h1>
          <p>League of Legends</p>
        </div>
        <div class="like">
          <img
            id="like"
            draggable="false"
            src="../../../../assets/images/like.png"
            alt=""
            style="opacity: 0"
          />
        </div>
        <div class="nope">
          <img
            id="nope"
            draggable="false"
            src="../../../../assets/images/nope.png"
            alt=""
            style="opacity: 0"
          />
        </div>
      </div>
    </div>
  </div>
</div>
