<div class="d-flex flex-row justify-content-center align-item-center">
  <div class="card shadow-sm" style="width: 600px">
    <div class="card-header">
      <ng-content select="[title]"></ng-content>
    </div>
    <div class="card-body">
      <div class="d-flex flex-column justify-content-start align-items-center">
        <form [formGroup]="form" style="width: 100%" (ngSubmit)="pref_submit()">
          <div class="d-flex flex-row align-items-bottom">
            <label for="pref_pos" class="col-form-label flex-grow-1"
              >Preferred Position:
              <select
                id="pref_pos"
                class="form-control"
                formControlName="pref_pos"
              >
                <option value="Tank">Tank</option>
                <option value="Bruiser">Bruiser</option>
                <option value="Jungler">Jungler</option>
                <option value="APC">APC</option>
                <option value="ADC">ADC</option>
                <option value="Support">Support</option>
              </select>
            </label>
          </div>
          <div class="d-flex flex-row align-items-bottom">
            <label for="pref_lang" class="col-form-label flex-grow-1"
              >Preferred Language:
              <select
                id="pref_lang"
                class="form-control"
                formControlName="pref_lang"
              >
                <option value="English">English</option>
                <option value="Spanish">Español</option>
              </select>
            </label>
          </div>
          <div class="d-flex flex-row align-items-bottom">
            <label for="pref_day" class="col-form-label flex-grow-1"
              >Preferred Day:
              <select
                id="pref_day"
                class="form-control"
                formControlName="pref_day"
              >
                <option value="Sunday">Sunday</option>
                <option value="Monday">Monday</option>
                <option value="Tuesday">Tuesday</option>
                <option value="Wednesday">Wednesday</option>
                <option value="Thursday">Thursday</option>
                <option value="Friday">Friday</option>
                <option value="Saturday">Saturday</option>
              </select>
            </label>
          </div>
          <div class="d-flex flex-row align-items-bottom">
            <label for="pref_time" class="col-form-label flex-grow-1"
              >Preferred Time:
              <select
                id="pref_time"
                class="form-control"
                formControlName="pref_time"
              >
                <option value="Day">Day</option>
                <option value="Night">Night</option>
              </select>
            </label>
          </div>
          <div
            class="d-flex flex-row align-items-bottom justify-content-center"
          >
            <ng-content select="[submit]"></ng-content>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
