body {
  background-image: url("https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blt0060849db5c9144a/62bdda094673394f64680347/00_Header_SG2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto 100%;
  min-height: 100vh;
  padding: 0;
  opacity: 0.8;
}
.home {
  width: 31%;
  margin-left: 20px;
  margin-right: 20px;
}
