<body>
<div class="c">
  <div class="d-flex flex-row justify-content-center">
    <img src="/assets/images/logo1.png" />
  </div>
  <div class="d-flex flex-row justify-content-center mt-5">
    <button
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    >
      Get Started
    </button>
  </div>
  <div class="HPicture">
    <img src="/assets/images/logo1.png" class="home"/>
    <img src="/assets/images/logo1.png" class="home"/>
    <img src="/assets/images/logo1.png" class="home"/>
  </div>

  <!-- Modal -->
  <div
    class="modal modal-lg fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title text-center" id="exampleModalLabel">
            Log in/Sign up
          </h3>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-6 text-center">
                <div>Already have an account?</div>
                <div>
                  <button
                    type="button"
                    class="btn btn-secondary"
                    routerLink="/app"
                    data-bs-dismiss="modal"
                  >
                    Log in
                  </button>
                </div>
              </div>
              <div class="col-6 text-center">
                <div>Create a new account.</div>
                <div>
                  <button
                    type="button"
                    class="btn btn-primary"
                    routerLink="register"
                  >
                    Sign up
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>