

<!--
<h3 id="demo" onclick="myFunction()">Click me to change my color.</h3>
<h1 id="demo2" onclick="myFunction2()"> Hello person</h1>
-->

<div class = "main-content d-flex align-items-start">

    <div class = "lists">
        <ul class="other list-group" style = "z-index: 1;">
            Half Match Users
            <button type="button" class="list-group-item list-group-item-action">
                Yes <span class="badge" style = "color: black; float: right;">14</span>
            </button>
            <button type="button" class="list-group-item list-group-item-action">
                <span class="badge">2</span>
            </button>
            <button type="button" class="list-group-item list-group-item-action">
                <span class="badge">1</span>
            </button>
            <button type="button" class="list-group-item list-group-item-action">
                <span class="badge">1</span>
            </button>
            <button type="button" class="list-group-item list-group-item-action">
                <span class="badge">1</span>
            </button>
        </ul>

        
        <ul class="other list-group" style = "z-index: 2;">
            Matched Users
            <button type="button" class="list-group-item list-group-item-action">
                <span class="badge">14</span>
            </button>
            <button type="button" class="list-group-item list-group-item-action">
                <span class="badge">2</span>
            </button>
            <button type="button" class="list-group-item list-group-item-action">
                <span class="badge">1</span>
            </button>
        </ul>

        <ul class="other list-group" style = "z-index: 3;">
            Unmatched Users
            <button type="button" class="list-group-item list-group-item-action">
                <span class="badge">14</span>
            </button>
            <button type="button" class="list-group-item list-group-item-action">
                <span class="badge">2</span>
            </button>
            <button type="button" class="list-group-item list-group-item-action">
                <span class="badge">1</span>
            </button>
        </ul>
    </div>
    <div class = "big square">
        <p style = "text-align:center"> This is the big square big square big square big square big square big square</p>
    </div>
</div>